.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

.container {
  display: flex;
  align-items: center;
}

.error {
  border: red 2px solid;
}

.error-message {
  color: red;
  font-weight: bold;
}

.active-filter {
  background-color: lightgreen;
}

.is-done {
  opacity: 0.5;
}

